@page "/"
@using Izzmo.BlazorChessApp.Shared
@inject BoardState BoardState

<h1>Chess</h1>

<table class="chess-board">
	<thead>
		<tr>
			<th></th>
			@for (int i = 1; i <= columns; i++)
			{
				<th>
					@Convert.ToChar(i + 65 - 1)
				</th>
			}
		</tr>
	</thead>
	<tbody>
		@for (int row = rows; row > 0; row--)
		{
			var isWhite = row == 1 || row == 2;

		<tr>
			<th>@row</th>

			@for (int col = 1; col <= columns; col++)
			{
				<td @onclick="PieceClicked">
				@if (row == 2 || row == 7)
				{
					<ChessPiece Type="PieceType.Pawn" IsWhite="@isWhite"></ChessPiece>
				}
				else if (row == 1 || row == 8)
				{
					if (col == 1 || col == 8)
					{
						<ChessPiece Type="PieceType.Rook" IsWhite="@isWhite"></ChessPiece>
					}
					else if (col == 2 || col == 7)
					{
						<ChessPiece Type="PieceType.Knight" IsWhite="@isWhite"></ChessPiece>
					}
					else if (col == 3 || col == 6)
					{
						<ChessPiece Type="PieceType.Bishop" IsWhite="@isWhite"></ChessPiece>
					}
					else if (col == 4)
					{
						<ChessPiece Type="PieceType.Queen" IsWhite="@isWhite"></ChessPiece>
					}
					else if (col == 5)
					{
						<ChessPiece Type="PieceType.King" IsWhite="@isWhite"></ChessPiece>
					}
				}
				</td>
			}
		</tr>
		}
	</tbody>
</table>

@code {
	int columns = 8;
	int rows = 8;

	void PieceClicked(MouseEventArgs e)
	{
		//var positions = PiecePositioner.GetPieceMovePositions(BoardState, 'a', 2);
	}
}
