@page "/chessboard"

<h1>Chess</h1>

<table class="chess-board">
	<thead>
		<tr>
			<th></th>
			@for (int i = 1; i <= columns; i++)
			{
				<th>
					@Convert.ToChar(i + 65 - 1)
				</th>
			}
		</tr>
	</thead>
	<tbody>
		@for (int row = 1; row <= rows; row++)
		{
			var isWhite = row == 7 || row == 8;

		<tr>
			<th>@row</th>

			@for (int col = 1; col <= columns; col++)
			{
				@if (row == 2 || row == 7)
				{
					<td><Pawn IsWhite="@isWhite"></Pawn></td>
				}
				else if (row == 1 || row == 8)
				{
					if (col == 1 || col == 8)
					{
						<td><Rook IsWhite="@isWhite"></Rook></td>
					}
					else if (col == 2 || col == 7)
					{
						<td><Knight IsWhite="@isWhite"></Knight></td>
					}
					else if (col == 3 || col == 6)
					{
						<td><Bishop IsWhite="@isWhite"></Bishop></td>
					}
					else
					{
						<td></td>
					}
				}
				else
				{
					<td></td>
				}
			}
		</tr>
		}
	</tbody>
</table>

@code {
	int columns = 8;
	int rows = 8;
}
